body {
  font-family: var(--type-serif);
  font-size: var(--type-size);
  font-weight: var(--type-weight);
  line-height: var(--type-height);
  font-variant-numeric: var(--type-numeric);
  background-color: var(--color-background);
  color: var(--color-text);
}

svg circle,
svg path {
  stroke: var(--color-text);
  stroke-width: 0.075em;
}

a {
  text-decoration: none;
  color: var(--color-link);

  &:focus,
  &:hover {
    border-bottom: calc(var(--type-size) / 10) dotted var(--color-link);
    color: var(--color-link);
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

footer {
  margin: 2em 0;
}

small {
  font-weight: 300;
  // make small go down below
  display: block;
  margin-top: 0.1em;
  font-style: italic;
  /* Adjust the margin as needed */
}

// #navbar {
//   display: flex;
//   justify-content: flex-end; /* Align the navbar to the right */
//   // margin-top: 10px; /* Adjust the margin as needed */
//   // justify-content: space-between;
// }

// #nav_items {
//   display: flex;
//   justify-content: space-between; /* Spread items evenly */
// }

// #nav_items a {
//   // color: white; /* Set text color for navigation items */
//   text-decoration: none; /* Remove underlines from links */
//   // padding: 10px; /* Add padding for better visibility */
//   margin-right: 0.7em; /* Adjust the margin between navigation items using em */
// }


#navbar {
  display: flex;
  justify-content: flex-end;
}

#nav_items {
  display: flex;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Align the right edge of the dropdown with the right edge of the arrow */
  top: 100%; /* Position it below the dropdown-toggle */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: right;
}

.dropdown-toggle {
  color: black;
  text-decoration: none;
  padding-left: 1em; /* Adjust the padding to your preference */
  cursor: pointer;
  content: "↓"; /* Unicode character for a down arrow */
}

.dropdown-content a {
  color: black;
  display: block;
  text-align: right;
  text-decoration: none; /* tries to remove default underlining, but it doesn't work.
}

.dropdown-content a:hover {
  // background-color: #ddd;
  text-decoration: underline; /* Add underline on hover does do it well */
}


abbr {
  text-transform: lowercase;
  font-family: var(--type-caps);
}

blockquote {
  padding-left: 1em;
  border-left: 0.1em solid var(--color-border);
  font-weight: 300;
}

mark {
  padding: 0.1em;
  border-radius: 0.25em;
  background-color: var(--color-mark);
  color: var(--color-text);
}

hr {
  border-top: 0.1em solid var(--color-text);
}

img {
  display: block;
  max-width: 100%;
  margin: 1em 0;
  border-radius: 0.25em;
}

table.table {
  color: var(--color-text);
}