/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  --global-bg-color: #fcd8b7;
  --global-code-bg-color: #{$code-bg-color-light};
  --global-font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  --global-text-color: #{$black-color};
  --global-text-color-light: #575757;
  --global-hover-color: #ff0000;
  --global-theme-color: #b80000;
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #fabb78a4;
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #{$white-color};
  --global-highlight-color: #{$red-color-dark};
  --global-back-to-top-bg-color: rgba(0, 0, 0, 0.4);
  --global-back-to-top-text-color: #{$white-color};
  --global-newsletter-bg-color: #{$white-color};
  --global-newsletter-text-color: #{$black-color};
  --footnote-bubble-bg-color: #f9cfac;
  --footnote-bubble-border-color: rgba(184, 0, 0, 0.25);
  --footnote-bubble-text-color: #3b1a00;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-system {
    display: none !important;
  }

  #light-toggle-dark,
  #light-toggle-light {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.35rem;
    line-height: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  #light-toggle-light {
    display: inline-flex;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$black-color};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #ffff00;
  --global-text-color-light: #d8d887;
  --global-theme-color: #{$red-color};
  --global-hover-color: #{$red-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$black-color};
  --global-footer-text-color: #ffff00;
  --global-footer-link-color: #{$red-color};
  --global-distill-app-color: #d8d887;
  --global-divider-color: #424246;
  --global-card-bg-color: #{$black-color};
  --global-back-to-top-bg-color: rgba(255, 0, 0, 0.4);
  --global-back-to-top-text-color: #ffff00;
  --global-newsletter-bg-color: #{$black-color};
  --global-newsletter-text-color: #ffff00;
  --footnote-bubble-bg-color: rgba(69, 0, 0, 0.9);
  --footnote-bubble-border-color: rgba(255, 136, 0, 0.4);
  --footnote-bubble-text-color: #fff5c2;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-dark {
    display: inline-flex;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: inline-flex;
  }
}
